$color2:rgb(0, 255, 38);

// Primary Colors
$primary-color:#ffffff;
$secondary-color:#e2ffec;

//font Color
$font-color-dark:#131815;
$font-color-light:#f8fffb;

//button Colors
$button-color-on:#33b868;
$button-color-off:#72e19e;