$color2:rgb(0, 255, 38);

// Primary Colors
$primary-color:#ffffff;
$secondary-color:#e2ffec;
$fotter-color:#20251f;

//font Color
$font-color-dark:#131815;
$font-color-light:#f8fffb;

//button Colors
$button-color-on:#00646b;
$button-color-off:#72e19e;
$button-color-on-light:#c7f7da;