// Color For Web

//Primary Colors
$primaryColor:#ffffff;
$secondaryColor:#0e0f0f;

// Button Color
$buttonColorSecond:#b9fac8;
$buttonColorFirst:#34c553;

//Button Hover Colors
$buttonhoverColor:#5e9b6c;
