@import './SCSScolor/Color.scss';
@import './SCSSfont/Font.scss';

*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background-color:$primary-color;
    @include font-collection;
}