@mixin flex-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-blok-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin flex-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-block{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@mixin button {
    border: none;
    outline: none;
    margin: 0px 10px 0px 0px;
    border-radius: 2px;
}

@mixin icon {
    font-size: 1rem;
    color: #0b0a0a;
    margin: 0px 5px 0px 0px;
}

@mixin bg-img{
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin text-box{
    width: 450px;
    height: auto;
    text-align: justify;
}